
  <% form_remote_tag :url =>  '/fibonacci' do %>
     <p><%= text_field_tag  :n %><%= submit_tag 'Calcular' %></p>
   <% end %>


<div id='answers'>
  Tempo<br />
  <div id='gustavos_answer'>
    Iterativo<br /><br />
    <div class='number' id='gtime'>0</div>
  </div>

  <div id='cassianos_answer'>
    Memoization<br /><br />
    <div class='number' id='ctime'>0</div>
  </div>

</div>
